*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
scroll-behavior:smooth;
}

body{
background:#f5fbff;
}

header{
position:fixed;
top:0;
width:100%;
background:#0ea5e9;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
z-index:1000;
}

.logo{
color:white;
font-size:28px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:600;
}

.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
url('https://images.unsplash.com/photo-1509062522246-3755977927d7?w=1600');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:60px;
}

.hero h3{
margin:15px 0;
font-size:28px;
}

.btn{
display:inline-block;
margin-top:20px;
background:white;
color:#0ea5e9;
padding:12px 30px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}

.section{
padding:90px 10%;
text-align:center;
}

.section h2{
color:#0284c7;
margin-bottom:20px;
font-size:40px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.review-box{
background:white;
padding:20px;
margin:15px auto;
max-width:700px;
border-left:5px solid #0ea5e9;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.contact{
background:#0284c7;
color:white;
text-align:center;
padding:70px 20px;
}

.contact p{
margin:15px;
font-size:18px;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:15px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
text-decoration:none;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:10px;
}

.hero h1{
font-size:40px;
}

.hero h3{
font-size:20px;
}

.section h2{
font-size:30px;
}
}